body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    /*background-position: 100% 10%;*/
    background-position: center center;
    background-size: cover; /*ocupa todo o espaço*/
    background-attachment: fixed; /*--deixa o background fixo na tela*/
}

.foto-principal {
    width: 150px;
}

p {
    color: #222222;
}
