/*margin = Espaçamento Externo
  padding = Espaçamento Interno*/
body {
    background-color: #dfdfdf;
    font-family: Arial, Helvetica, 'Courier New', sans-serif;
}

.foto-principal {
    width: 200px;
    height: 200px;
    border: 2px solid white; /*shorthand*/
    border-radius: 50%; /*1º canto superior esquerdo, 2º canto superior direito, 3º canto inferior direito, 4º inferior esquerdo*/
    margin: 30px; /*shorthand, ou seja, tudo em apenas uma linha*/
    box-shadow: 0px 0px 10px rgb(112, 112, 112); /*Colocar sombra envolta do elemento*/
}

h1 {
    margin-bottom: 0;
    letter-spacing: -1px; /*Aumentar ou dimunuir o espaçamento das letras*/
}

h2 {
    margin-top: 0;
    font-style: italic;
    color: rgb(73 73 73);
    font-weight: 100; /*Espessura da letra*/
    letter-spacing: -1px; /*Aumentar ou dimunuir o espaçamento das letras*/
}